*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f7f1e3;
    font-family: "Work Sans", serif;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}

/* banner design */
.banner {
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}
  .banner::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: .3;
    z-index: -1;
    

}
 
 .banner .banner-content {
    max-width: 900px;
 } 

 .banner-subtitle {
    margin: 16px 0;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    opacity: .8;
 }
 .banner-title {
    margin: 16px 0;
    color: #FFFFFF;
    font-size: 54px;
    /* line-height: 1.4; */
    font-weight: 700;
    text-align: center;
 }
 .banner-desc {
    margin: 24px 0;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.4;
    text-align: center;
 }
 .banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .banner-btn  button{
    margin: 24px 0;
    background-color: #52C303;
    color: white;
    padding: 21px 32px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   
 }

 /* item design */
 .item {
    margin: 50px 0;
 }
 .item .item-subtitle {
    margin: 16px 0;
    font-size: 24px;
    font-weight: 400;
    color: #101010;
    opacity: .6;
    text-align: center;
 }
 /* .item .item-title {
    margin: 16px 0;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
 }
 .item .item-box {
    background-color: #fff;
    padding: 18px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
 }
 .item-box .card {
    flex-basis: 32%;
    position: relative;
 }
 .item-box .card img {
    width: 100%;
 }
 .card .caption small {
    display: block;
    margin: 14px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
 }
 .card .card-title {
    margin: 14px 0;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
 }
 .card .item-desc {
    color: #101010;
    opacity: .7;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
 } */
